/* ==== Medium Device, Desktop ==== */
@media only screen and (max-width:1200px){	
.single-product-item {
	height: 250px;
	margin-bottom: 15px;
}
.single-product-item:nth-child(2) {
	height: 520px;
}



}
/* ==== Small Device, Tablet ==== */
@media only screen and (max-width:991px){
.big-menu li {
	font-size: 40px;
}
.big-menu li a {
	padding: 120px 30px 30px;
}
.single-product-item {
	width: 31.3333%;
}
.single-product-item:nth-child(2), .single-product-item:nth-child(4), .single-product-item:nth-child(9) {
	width: 64.6666%;
}
.single-product-item:nth-child(2) {
	height: 515px;
}
.footer-area, .footer-area .text-right {
  text-align: center;
}
.footer-menu li {
  margin: 0 10px;
}
.header-top-area a {
	padding: 15px 10px;
}
	
}
/* ==== Extra Small Device, Mobile ==== */
@media only screen and (max-width:767px){
.header-left ul {
	display: none;
}
.header-top-area {
	position: relative;
}
.homepage-slider-wrap {
	height: auto;
}
.homepage-slider-wrap div {
	height: auto;
}
.header-top-area a.menu-trigger {
	padding-top: 20px;
	padding-bottom: 13px;
}
.slider-text-tablecell {
	font-size: 50px;
	line-height: 60px;
	padding-left: 0;
	text-align: center;
	padding: 50px 0;
}
.owl-carousel .owl-item .single-slider-item img {
	display: none;
}
.big-menu li {
	font-size: 30px;
	float: none;
	width: auto;
}
.big-menu li a {
	padding: 50px;
	text-align: center;
}
.big-menu li:nth-child(2), .big-menu li:nth-child(3){
	width: auto;
}
.single-product-item {
	width: 100%;
	float: none;
	height: 300px;
}
.single-product-item:nth-child(2), .single-product-item:nth-child(4), .single-product-item:nth-child(9) {
	width: 100%;
	height: 300px;
}
.productssection {
	padding-top: 50px;
}
.load-more-product-btn {
	margin-bottom: 50px;
}
.product-promotion.owl-carousel.owl-loaded.owl-drag img {
	width: 100%;
}
.promo-content {
	padding: 20px;
}
.promo-title h2 {
	font-size: 25px;
}
.promo-title span.year-text {
	left: 45%;
	top: -2px;
	font-size: 50px;
	line-height: 95px;
}
.promo-title {
	margin-bottom: 20px;
}
.product-promotion .owl-dots {
	position: relative;
	right: auto;
	top: auto;
	margin-top: 0;
	text-align: center;
}
.product-promotion .owl-dots div {
	display: inline-block;
	margin: 5px;
}
.boxed-btn {
	margin-top: 10px;
}
.branding-img {
	margin-top: 50px;
}
.email-subscriber-form input[type="email"] {
	margin-bottom: 10px;
}
.promo-bg {
	background: #F4F0F0;
	padding-bottom: 20px;
}
.header-top-area a {
	padding: 15px 5px;
}

}
/* ==== Iphone Ratina ==== */
@media only screen and (min-width:575px){




}

